.ing_img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.break{
  padding: 20px;
}

.learn_txt{
  text-align: center;
  margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}
