/*Recipe page css styles*/
/*nav*/
.nav_styles{
    background-color: rgb(200,255,235);
}

/* Carousel  */
.btn_yes{
  border-color: white;
  border-style: double;
  display: inline;
  font-size: 24px;
}
/* Recipe */
.recipe_title{
  font-size: 100px;
  padding-top: 40px;
}

.car_style{
  padding: 40px 160px;
  height: 80%;
}

div.bkg_image{
background-image: url("../images/recipe_background.jpg");
padding: 0px;
background-repeat: no-repeat;
background-size: cover;
}

ul.ing_list{
  font-size: 16px;
  list-style-type: none;
  padding: 0px;
}

.rec_info{
  font-size: 16px;
  list-style-type: none;
}
