
@import url('https://fonts.googleapis.com/css?family=Kotta+One|Podkova|Special+Elite');


header{
  background-color: rgb(200,255,235);
  padding-bottom: 30px;
}


.nav_logo{
  float: left;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.list_nav_bar
{
  list-style-type: none;
  padding-left: 50%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn_stlye{
float: right;
}

/*about page css styles */
h1{
    background-color: hsla(120, 120%, 50%, 0.3);
    font-family: 'Special Elite';
    color: black;
    text-align: center;
    font-size: 4em;
}

h3{
  font-family: 'Kotta One'
  text-align: center;
  padding: 10px 300px;

}

body{
  background-color: rgb(200,255,235);
  font-family: Courier;
  padding: 20px 60px;
}

/* Titles */
h1.title{
  font-size: 35px;
  text-align: center;
  font-family: 'Kotta One';
  font-style: italic;
  color: purple;
}

h2.title2{
  font-size: 25px;
  text-align: center;
  font-family: 'Kotta One';
}

h3.title3{
  font-size: 15px;
  text-align: center;
  font-family: 'Podkova'
}

/*Ingridients Titles*/
div.ing_titles {
  margin-right: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;

}

/* All recipe styles  */
.allrcp_style{
      padding: 30px;
      margin: 30px;
      background-color: transparent;
      border: 10px solid  white;
      opacity: 0.6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
      font-family: Courier;
      text-align: center;
      color: black;
      font-size: 50px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;


}

/* Ingredients images */
div.row{
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}
